/* GERAL */
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #f4e8dc;
    font-family: "Poppins", sans-serif;
}

/* NAVEGAÇÃO */
.nav{
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav .logo{
    border-radius: 40px;
    margin-right: 200px;
}

.nav a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
    transition: 0.5s;
}

.nav a:hover{
    transform: scale(1.1);
    opacity: 1;
}

.nav .sign-in{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    font-weight: 600;
}

.nav .sign-in:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px black;
}

.nav .join:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px black;
}

.nav .join{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    font-weight: 600;
}
/* FIM DA NAVEGAÇÃO */

/* MAIN */
.text{
    height: 400px;
    margin-top: 150px;
    margin-left: 70px;
}

.text p{
    margin-top: 10px;
    width: 550px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.text span{
    color: #007042;
    border-bottom: 3px solid #007042;
    transition: 0.5s;
}

.text .order-now{
    height: 40px;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: #007042;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
    transition: 0.5s;
}

.text .order-now:hover{
    transform: scale(1.1);
    background-color: transparent;
    color: #007042;
    border: 1px solid #007042;
    box-shadow: 1px 1px 5px 1px #007042;
}

.icons .instagram{
    margin-left: 20px;
    margin-right: 20px;
}

.main{
    display: flex;
}

.drinks{
    height: 600px;
    margin-left: 300px;
    margin-top: 40px;
    transition: 0.5s;
}

.drinks:hover{
    transform: scale(1.1);
}
/* FIM DO MAIN */

/* FOOTER */
.footer{
    background-color: transparent;
    border-top: 1px solid #0070412f;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .logo img{
    height: 30px;
}

.footer .links{
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.footer .links-a a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.footer .copyright{
    color: rgba(244, 232, 220, 0.212);
    font-weight: 300;
    font-size: 10px;
}

.footer .links-a a:hover{
    text-decoration: underline;
}
/* FIM DO FOOTER */